/*---------------------------------------------------------------*/
/* Selector Button: Deploy */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Button: Deploy */
/*--------------------------------*/
.btn--deploy,
.btn--reset {
    /*reset*/
    border-style: solid;
    outline: none;
    cursor: pointer;
    /*flex*/
    align-self: flex-end;
    /*vars*/
    --btn-deploy-size: 125px;
    /*position*/
    position: relative;
    width: var(--btn-deploy-size);
    height: var(--btn-deploy-size);
    /*display*/
    /*background*/
    background: radial-gradient(
        circle,
        rgba(255, 97, 97, 0.9) 0%,
        rgba(255, 0, 0, 0.9) 100%
    );
    /*border*/
    border-radius: 100%;
    /*text*/
    /*shadow*/
    box-shadow:
        /*btn top*/
        inset 0 0 12px 6px rgba(255, 0, 0, 0.4),
        /*outside*/
        0 0 12px 6px rgba(0, 0, 0, 0.4);
    /*transition*/
    transition: var(--ui-transition);
    /*transform*/
    transform: scale(1.0);
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Template */
/*--------------------------------*/
.btn--deploy:active,
.btn--reset:active {
    /*shadow*/
    box-shadow: 
        /*btn top*/
        inset 0 0 12px 6px rgba(0, 0, 0, 0.4),
        /*outside*/
        0 0 2px 4px rgba(0, 0, 0, 0.9);
    /*transform*/
    transform: scale(0.96);
}
/*--------------------------------*/
/* Template */
/*--------------------------------*/
.btn--deploy::before,
.btn--reset::before {
    content: '\0021';
    /*vars*/
    /*position*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*display*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*text*/
    color: white;
    font-weight: 1000;
    font-size: 65px;
    text-align: center;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
    /*DEBUGGING*/
}