/*---------------------------------------------------------------*/
/* Button: Game */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Template */
/*--------------------------------*/
.btn--game,
.btn--game {
    user-select: none;
    cursor: pointer;
    /*vars*/
    /*position*/
    position: relative;
    width: 50px;
    height: 50px;
    margin: 4px;
    /*display*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*background*/
    background: rgba(255, 255, 255, 0.5);
    /*border*/
    border-radius: 12px;
    border: 3px solid #333;
    /*text*/
    color: black;
    font-size: 20px;
    font-weight: 600;
    /*shadow*/
    box-shadow: 
        /*inside fill*/
        inset 1px 1px 4px 2px rgba(0, 0, 0, 0.8),
        2px 2px 4px 0px rgba(0, 0, 0, 0.4);
    /*transition*/
    transition: var(--ui-transition);
    /*transform*/
    filter: brightness(1.0);
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Template */
/*--------------------------------*/
.btn--game[data-play="true"][data-occupied="false"]::before {
    content: '';
    /*vars*/
    /*position*/
    position: absolute;
    top: 1.5px;
    left: 1.5px;
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    /*display*/
    /*background*/
    background: rgba(255, 0, 0, 0.4);
    /*border*/
    border-radius: 12px;
    /*text*/
    /*shadow*/
    /*transition*/
    /*transform*/
    /*DEBUGGING*/
    box-shadow: 0 0 12px 6px rgba(255, 0, 0, 0.4);
}
/*--------------------------------*/
/* Template */
/*--------------------------------*/
.btn--game[data-play="true"][data-occupied="true"]::before {
    content: '';
    /*vars*/
    /*position*/
    position: absolute;
    top: 1.5px;
    left: 1.5px;
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    /*display*/
    /*background*/
    background: rgba(21, 255, 0, 0.4);
    /*border*/
    border-radius: 12px;
    /*text*/
    /*shadow*/
    /*transition*/
    /*transform*/
    /*DEBUGGING*/
    box-shadow: 0 0 12px 6px rgba(21, 255, 0, 0.4);
}
/*--------------------------------*/
/* Template */
/*--------------------------------*/
.btn--game:hover::before {
    content: '';
    /*vars*/
    /*position*/
    position: absolute;
    top: 1.5px;
    left: 1.5px;
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    /*display*/
    /*background*/
    background: rgba(255, 255, 255, 0.7);
    /*border*/
    border-radius: 12px;
    /*text*/
    /*shadow*/
    /*transition*/
    /*transform*/
    /*DEBUGGING*/
    box-shadow: 0 0 12px 12px rgba(255, 255, 255, 0.3);
}
/*--------------------------------*/
/* Template */
/*--------------------------------*/
    /*vars*/
    /*position*/
    /*display*/
    /*background*/
    /*border*/
    /*text*/
    /*shadow*/
    /*transition*/
    /*transform*/
    /*DEBUGGING*/